html {
  background-image: url("Fondo.jpg");

}

h1{
	height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: black 6px 6px 8px;
  text-transform: uppercase;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;

}
h2{
	font-family:Algerian;
	color:blue;
	border-style: solid;
}
h3{
	font-family:Arial Black;
}
p.p2{
 text-align: left;
 border-style: solid;
}
body{
	font-family:Calibri;
	font-size: 22px;
}

p.p1{
	border-style: solid;
	
}
ul{
	border-style: solid;
	border-color: red;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
ul{
	background: #ff9999;
  padding: 20px;
}
div.div2{
	border-style: solid;
	
}
